/* Global classes */

.navbar n.bt {
    background-color: #FF6969;
}

.navbar .btn:hover {
    background-color: #FF6969;
}

.navbar {
    z-index: 100;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar .navbar-nav a:hover {
    color: #e65c5c;
}

.active-color {
    color: #e65c5c;
}

.container-2 {
    width: 70%;
    margin: auto;
}



span {
    color: #FF6969;
}

/* showacase */
.price {
    width: 35%;
}

.card {
    max-height: 400px;
}

.cards ul li {
    font-size: 0.9rem;
}

.cards .btn {
    background-color: #FF6969;
}

.cards .btn:hover {
    background-color: #ff4444;
}


/* FAQ's questions */

#text-toggle1 {
    display: none;
}

#text-toggle2 {
    display: none;
}

#text-toggle3 {
    display: none;
}

#text-toggle4 {
    display: none;
}

#text-toggle5 {
    display: none;
}

.questions {
    width: 80%;
}

.questions .red {
    background-color: #FF6969;
}

.questions .red:hover {
    background-color: #e65c5c;
}

/* footer */

.footer .logo {
    font-size: 4rem;
    font-weight: bolder;
    display: inline-flex;
    margin-bottom: -10px;
    margin-left: 5px;
}

.footer a {
    text-decoration: none;
    color: gray;

}

.footer a:hover {
    color: rgb(64, 64, 64);
}

.footer .links h2 {
    margin-bottom: 2rem;
}

.footer a li {
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    margin-top: 1rem;
}

.footer p a {
    color: #e65c5c;
}

.footer ul li:hover {
    color: #FF6969;
}

@media (max-width: 991.98px) {
    footer .row .footer-logo {
        display: flex;
        justify-content: center;
        scale: 0.8;

    }
}